
.container {
  /*width: 90%;*/
  margin: auto;
}

.row{
  width: 100%;
}
.box {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 1px;
}

.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}

.border {
    border: 1px solid black;
}